.About-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}
.About-profile {
  width: 10rem;
}
.About-title {
  margin: 1rem;
}
.About-description {
  text-align: center;
}
