.About-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}

.About-profile {
  width: 10rem;
}

.About-title {
  margin: 1rem;
}
.About-description {
  text-align: center;
}
.About-links {
  display: none;
}

@media all and (min-width: 768px) {
  .About-name {
    font-size: 4rem;
  }
  .About-profile {
    width: 15rem;
  }
  .About-title {
    font-size: 3rem;
    margin: 2rem;
  }
  .About-description {
    text-align: center;
    padding: 1rem 3rem;
    font-size: 2rem;
  }
  .About-links {
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin: 1rem 0;
  }
}
@media all and (min-width: 1024px) {
  .About-name {
    font-size: 5rem;
  }
  .About-profile {
    width: 20rem;
  }
  .About-title {
    font-size: 4rem;
    margin: 3rem;
  }
  .About-description {
    text-align: center;
    padding: 2rem 4rem;
    font-size: 3rem;
  }
  .About-links {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: 1rem 0;
    font-size: 2rem;
  }
}
