.Projects {
  margin: 1rem;
  text-align: center;
}
.Project-card {
  border: black 1px solid;
  height: 15rem;
  margin: 2rem 0;
  position: relative;
  color: white;
}
.Project-overlay {
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.6;
  z-index: 1;
  position: absolute;
  top: 0;
}
.Project-image {
  height: 100%;
  z-index: -1;
}
.Project-info-container {
  position: absolute;
  z-index: 1;
  color: white;
  font-weight: 700;
  top: 0;
}

.Project-name,
.Project-info {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  margin: 1rem;
}

.Project-fa {
  color: white;
}
.Project-link {
  margin: 1rem;
}
@media all and (min-width: 768px) {
  .Projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .Project-header {
    grid-column: 1 / span 2;
  }
  .Project-card {
    margin: 1rem;
  }
}
