.Resume {
  background-color: #b9deecb7;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Resume-name {
  font-family: "Krungthep", sans-serif;
  position: absolute;
  text-transform: uppercase;
  top: 9%;
  left: 30%;
}
.Resume-image {
  width: 40%;
}
