@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-container {
  /* background-color: papayawhip; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 1rem;
}

.App-navigation {
}

.App-bars-container {
  display: flex;
  justify-content: flex-end;
  /* background-color: lightblue; */
  margin: 0 1rem;
}
.hidden {
  display: none;
}
