@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.App-navigation {
}
.App-slide-menu {
  height: 100%;
  width: 50%;
  background-color: lightblue;
  position: absolute;
  opacity: 0.9;
}

.App-bars-container {
  display: flex;
  justify-content: flex-end;
  /* background-color: lightblue; */
  margin: 1rem;
}
.App-slide-menu {
  padding: 1.5rem;
  border-radius: 12px;
}
.App-unordered-list {
  list-style: none;
}
.App-navigation-link {
  color: black;
}
li {
  margin: 1rem 0;
}

.App-navigation-link:hover {
  color: Tomato;
}
.fa {
  color: black;
  cursor: pointer;
}
.App-transparent-text {
  opacity: 0;
}

.hidden {
  display: none;
}
